<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 定义rule  -->
	<bean id="dummyRule" class="com.sxc.easyrules.DummyRule"/>
	<bean id="dummyRule02" class="com.sxc.easyrules.DummyRule02"/>

	<!-- 配置 rules engine -->
	<bean id="rulesEngine"
		  class="org.easyrules.spring.RulesEngineFactoryBean">
		<property name="rules">
			<list>
				<ref bean="dummyRule"/>
				<ref bean="dummyRule02"/>
			</list>
		</property>
	</bean>

</beans>